@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-surface: #1b1b1f;
  --color-surface-soft: #222222;
  --color-surface-mute: #282828;
  --color-text-primary: rgba(255, 255, 245, 0.86);
  --color-text-secondary: rgba(235, 235, 245, 0.6);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }

  body {
    @apply bg-surface text-text-primary min-h-screen font-sans antialiased;
    overflow: hidden;
    user-select: none;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  #app {
    @apply min-h-screen;
  }
}
